



@font-face {
    font-family: Verdana;
    src: url('~@/assets/fonts/Verdana.ttf');
}

body {
    padding: 0;
    margin: 0;
    height:100vh;
    font-family: Verdana;
    overflow-x: hidden;
    background-color: $sand;
}

* {
    box-sizing: border-box;
    user-select: none !important;
}


body, html {
	height: 100%;
}
body {
	background: $bg-body;
	background-size: cover;
	margin: 0;
	padding: 0;
	font-family: $base-font;
	line-height: 20px;
	font-size: 14px;
    color: $base-font-color;
    
}

.container {
	max-width: 1100px;
    margin: 0 auto;
}

.content{
    margin: $side-margin $side-margin;
}
*::selection 
{
    background-color:transparent;
} 


.section {
    min-height: 100vh;
    width:100%;
    margin: 0 auto;
}
.section:nth-child(odd) {
    background-color: $blue;
}

.uppercase{
    text-transform: uppercase;
}