

@font-face {
    font-family: Verdana;
    src: url('~@/assets/fonts/Verdana.ttf');
}

body {
    padding: 0;
    margin: 0;
    height:100vh;
    background-color: #000000;
    font-family: Verdana;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    user-select: none !important;
}

*::selection 
{
    background-color:transparent;
} 


.view-container {
    display: flex;
    min-height: 100vh;
    width: 100vw;
}


.uppercase{
    text-transform: uppercase;
}