$white: #ffffff;
$sand: #eceeef;
$dark-gray: #343a40;
$blue: #0085a1;
$pink: #ad1152;
$pink-dark: #6e0b34;
// Variables
$bg-body: #f9f9f9;

$primary-color: $blue;
$secondary-color: $blue;

// Typography
$base-font: helvetica, arial, tahoma, verdana;
$base-font-title: 'Dosis', arial, tahoma, verdana;

$base-font-color: #726f77;

$side-margin: 20px;
